body{background-color: blueviolet;
font-style: oblique;}
h4 {
border: 2px solid pink;
padding: 15px;
background-color: blue;
width: 100%;
border-radius: 8px;
display: inline-block;
}
h1 {
    
        border: 2px solid pink;
        padding: 15px;
        background-color: blue;
        width: 100%;
        border-radius: 8px;
        display: inline-block;
        
}
